@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0%;
  font-family: 'Patrick Hand', cursive;
}

button {
  font-family: 'Patrick Hand', cursive;
  cursor: pointer;
  font-size: 18px;
  filter: drop-shadow(3px 5px 3px black);
}

section {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 60% 7%;
}

h1 {
  grid-column: 1 / 3;
  font-size: 90px;
  padding-left: 50px;
  margin-top: 10%;
}

.scores {
  grid-area: 2 / 1 / 3 / 2;
  margin: 5%;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.score-header {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 30px;
  margin: 0%;
}

.score-placeholder {
  border: 1px solid black;
  margin-top: 3%;
}

.score-placeholder :nth-child(even) {
  background-color: rgb(200, 200, 200);
}

.score-placeholder p {
  padding: 1%;
  margin: 0%;
  font-size: 18px;
}

form {
  grid-area: 2 / 2 / 3 / 3;
  margin: 5%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

input {
  margin-top: 3%;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

form button {
  margin-top: 3%;
  width: 80px;
  align-self: flex-end;
}

footer {
  grid-area: 3 / 1 / 4 / 3;
  background-color: rgb(200, 200, 200);
  border: 2px solid black;
}
